force-app/main/default/flows/Pricebook_Update_Based_on_Account_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_to_Check_Account_Type</name>
        <label>Decision to Check Account Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Account</defaultConnectorLabel>
        <rules>
            <name>isPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.IsPartner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Partner_Pricebook</targetReference>
            </connector>
            <label>isPartner</label>
        </rules>
    </decisions>
    <description>Opportunity Price book  updation Based on Account Type</description>
    <environments>Default</environments>
    <interviewLabel>Pricebook Update Based on Account Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricebook Update Based on Account Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_Check_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Partner_Pricebook</name>
        <label>get Partner Pricebook</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Partner_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Standard_Pricebook</name>
        <label>get Standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook_type__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Pricebook</name>
        <label>Update Partner Pricebook</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_Partner_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
